
<div class="container">
  <div class="row">
    <div class="col-lg-12 table-responsive" style="height: 400px;">
      <table class="table table-info table-striped">
        <thead>
          <tr class="table-dark">
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Tipo User</th>
            <th>Acción</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let log of listaLogs">
            <td>{{log.fecha.toDate() | date:'dd/MM/YYYY HH:mm'}}</td>
            <td>{{log.user.nombre}} {{log.user.apellido}}</td>
            <td>{{log.user.tipouser}}</td>
            <td>{{log.flag}}</td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <app-grafico [chartData]="objChart1"></app-grafico>
    </div>
    <div class="col-lg-6">
      <app-grafico [chartData]="objChart2"></app-grafico>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <div class="input-group-text">Medico</div>
        <select name="" id="" class="form-control" [(ngModel)]="profSelect" placeholder="Elegir Medico">
          <option *ngFor="let prof of listaProfesionales" [value]="prof.email" >{{prof.nombre}} {{prof.apellido}}</option>
        </select>
        <button class="btn btn-danger" (click)="grafTurnosPorMedicoPorDia()">Ver</button>
      </div>
      <div class="input-group">
        <div class="input-group-text">Desde</div>
        <input type="date" class="form-control" [(ngModel)]="desde">
        <div class="input-group-text">Hasta</div>
        <input type="date" class="form-control" [(ngModel)]="hasta">
      </div>
      <app-grafico [chartData]="objChart3"></app-grafico>
    </div>

  </div>
</div>
