<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Clinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample05">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="">Home</a>
          </li>
          <li class="nav-item" *ngIf="esAdmin()">
            <a class="nav-link" aria-current="page" routerLink="/usuarios">Usuario</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
     
        
          <li class="nav-item">
                <a class="nav-link" routerLink="/sesion/register">Register</a>
          </li>
          
          
          <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" *ngIf="user | async as user;else login">
            <li class="nav-item" *ngIf="user">
                <a class="nav-link" (click)="desloguear()">Logout</a>
            </li>
            
            
            <li class="nav-item">
                <a class="nav-link">{{user?.email}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">{{user2.nombre }}</a>
          </li>
        </ul>
        <ng-template #login>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" >
                <li class="nav-item">
                    <a class="nav-link" routerLink='/sesion/login' >Login</a>
                </li>
            </ul>
        </ng-template>





          <li class="nav-item">
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#registerModal">
                  Register
              </button>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="registerModal" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Register</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>