
<div class="container">
    
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            
            <div class="border-1 shadow rounded mt-3">
                <div class="text-center bg-indigo">
                    <h1>Perfil</h1>
                    <div class="spinner-border text-center mt-5" style="width: 3rem; height: 3rem;" role="status" *ngIf="!showImg">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <img [src]="data?.img" class="shadow mt-3" *ngIf="showImg">
                    <hr>
                </div>
                <div class="text-center perfil-info pb-3">
                    <p class="blockquote">{{data?.nombre}} {{data?.apellido}}</p>
                    <p class="blockquote">DNI: {{data?.dni}}</p>
                    <p class="blockquote">EDAD: {{data?.edad}}</p>
                    <p class="blockquote">{{data?.email}}</p>
                    
                </div>
                <div *ngIf="data?.tipouser == 'Profesional'">
                    <app-horarios [data]="data"></app-horarios>
                </div>
                <app-historiaclinica [userEmailSelect]="data.email" *ngIf="data?.tipouser == 'Paciente'"></app-historiaclinica>
            </div>
        </div>
    </div>
</div>