<div class="container-fluid p-0">

    <app-navbar></app-navbar>
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded bg shadow">
            <div class="col-md-6 px-0 p-md-5 mb-4">
                <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative big-btn" routerLink="/miturno">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Mis Turnos</h3>
                  <div class="mb-1 text-muted">Nov 12</div>
                  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img [src]="misturnosimg" width="200" height="250">
        
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row g-0 border-3 rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative big-btn" routerLink="/solicitarturno">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-0">Sacar Turnos</h3>
                  <div class="mb-1 text-muted">Turnos online</div>
                  <p class="mb-auto">Saca turnos desde la comodidad de tu casa al instante con nuestros exelentes profesionales</p>
                  
                </div>
                <div class="col-auto d-none d-lg-block">
         
                    <img [src]="sacarturnos" width="200" height="250">
        
                </div>
              </div>
            </div>
          </div>
    </div>
</div>