.bg {
    background-image: url("/assets/about.jpg");
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    /*filter: blur(5px);
    -webkit-filter: blur(5px);*/
}

.big-btn:hover{
    transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    z-index: 1;
}

.big-btn{

    background-color: rgb(255, 255, 255);
}