.img-icon{
    
   
    height: 140px;
    width: 140px;
}

.big-btn:hover{
    transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    z-index: 1;
    cursor: pointer;
    border-color: purple!important;
}

.big-btn{

    background-color: rgb(255, 255, 255);
}